In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [8]:
#Listas
lst = ['jh',123,True, [18927389], {'123':[455,'1','12']}]

In [3]:
lst[0]

'jh'

In [4]:
lst[-1]

{'123': [455, '1', '12']}

In [5]:
ultima = lst.pop()

In [6]:
ultima

{'123': [455, '1', '12']}

In [7]:
lst

['jh', 123, True, [18927389]]

In [10]:
lst[-1]['123']

[455, '1', '12']

In [11]:
lst.append('hola')

In [12]:
lst

['jh', 123, True, [18927389], {'123': [455, '1', '12']}, 'hola']

In [13]:
lst.index('hola')

5

In [14]:
lst_2 = lst.copy()

In [15]:
lst_2.remove('hola')

In [16]:
lst_2

['jh', 123, True, [18927389], {'123': [455, '1', '12']}]

In [17]:
lst_2.insert(0,'adios')

In [18]:
lst_2

['adios', 'jh', 123, True, [18927389], {'123': [455, '1', '12']}]

In [19]:
lst_2.reverse()

In [20]:
lst_2

[{'123': [455, '1', '12']}, [18927389], True, 123, 'jh', 'adios']

In [21]:
lst_2.sort()

TypeError: '<' not supported between instances of 'list' and 'dict'

In [22]:
m = [e for e in range(11)]

In [26]:
m.sort(reverse = True)

In [27]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
k = ['hola','adios','es','viernes','ala']

In [33]:
k.sort()

In [34]:
k

['adios', 'ala', 'es', 'hola', 'viernes']

In [35]:
k[:3]

['adios', 'ala', 'es']

In [36]:
k[3:]

['hola', 'viernes']

In [37]:
k[-2:]

['hola', 'viernes']

In [38]:
n = [i for i in range(100)]

In [39]:
n[::3]

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [40]:
n[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [43]:
v = 'Es viernes y El CuerpO lo sabE'

In [46]:
for i in v:
    if i.isupper():
        print(i)

E
E
C
O
E

In [47]:
for i in v:
    if i.islower():
        print(i)

s
v
i
e
r
n
e
s
y
l
u
e
r
p
l
o
s
a
b

In [53]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
for x, y in enumerate(m):
    print(f'el indice es: {x} y su elemento es: {y}')

el indice es: 0 y su elemento es: 10
el indice es: 1 y su elemento es: 9
el indice es: 2 y su elemento es: 8
el indice es: 3 y su elemento es: 7
el indice es: 4 y su elemento es: 6
el indice es: 5 y su elemento es: 5
el indice es: 6 y su elemento es: 4
el indice es: 7 y su elemento es: 3
el indice es: 8 y su elemento es: 2
el indice es: 9 y su elemento es: 1
el indice es: 10 y su elemento es: 0

In [55]:
fibo = [0,1]

In [57]:
for i in range(0,100):
    result = fibo[-1]+fibo[-2]
    fibo.append(result)
    
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [58]:
lst = [i for i in range(100)] #i sera lo que nosotros queremos en la lista y for sera el recorrido que haremos para construirla

In [59]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [63]:
m_square = [i**2 for i in lst]

In [64]:
m_square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [65]:
m_par = [i for i in m_square if i%2 == 0]

In [66]:
m_par

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [68]:
lst_double = []
for i in range(0,10):
    lst_double.append([i+1, i+2, i+3])

In [74]:
lst_double[0]

[1, 2, 3]

In [73]:
for x,y in enumerate(lst_double):
    print(x,':',y)

0 : [1, 2, 3]
1 : [2, 3, 4]
2 : [3, 4, 5]
3 : [4, 5, 6]
4 : [5, 6, 7]
5 : [6, 7, 8]
6 : [7, 8, 9]
7 : [8, 9, 10]
8 : [9, 10, 11]
9 : [10, 11, 12]

In [77]:
lst_pares = [i for i in lst if i%2 == 0 and i > 25 and i < 75]

In [78]:
lst_pares

[26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74]

In [83]:
lst_pares = [i for i in lst if i%2 == 0 and (25 < i < 75)]

In [85]:
lst_pares+m

[26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [89]:
lst_2.clear() #Borra toda la lista

In [88]:
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Diccionarios

In [91]:
dic = {'hola':123, 'adios':[i for i in range(10)]}

In [93]:
dic.keys()

dict_keys(['hola', 'adios'])

In [96]:
dic.values()

dict_values([123, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [104]:
dic_ception = {'eldiccionario':dic, 'nueva':[i for i in range(20)]}

In [106]:
dic_ception.keys()

dict_keys(['eldiccionario', 'nueva'])

In [111]:
dic_ception['eldiccionario']['adios'][9]

9

In [112]:
dic_ception['eldiccionario']['adios'][-1]

9

In [113]:
lst = [1,1,1,1,1,3,5,4,5,6,5,8,9,8,7,8,1,5,4,3,6,6]

In [114]:
set(lst)

{1, 3, 4, 5, 6, 7, 8, 9}

In [115]:
lst_set = {1,1,1,1,1,3,5,4,5,6,5,8,9,8,7,8,1,5,4,3,6,6}

In [116]:
lst_set

{1, 3, 4, 5, 6, 7, 8, 9}

In [125]:
m_square_2 = lst_square(m)

In [126]:
m_square_2

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [128]:
dic.update({'hola':'sustitucion'})

In [129]:
dic

{'hola': 'sustitucion', 'adios': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [133]:
dict_en = {k:v for k,v in enumerate(m_square_2)}

In [134]:
dict_en

{0: 100, 1: 81, 2: 64, 3: 49, 4: 36, 5: 25, 6: 16, 7: 9, 8: 4, 9: 1, 10: 0}

In [117]:
def func():
    pass

In [119]:
def lst_square(lst):
    square = [i**2 for i in lst]
    return square

In [137]:
def suma(*args):
    return sum(args)

In [138]:
suma(1,2,3,4)

10

In [139]:
sum([1,2,3,4])

10

In [141]:
def suma(*args, n = 10):
    return sum(args)+n

In [143]:
suma(1,2,3,4, n = 23)

33

In [147]:
def saludo(nombre, lang = 'es', alumno = True): #Se pueden poner los argumentos de entrada que seran por default
    s = ''
    
    if alumno:
        s = 'alumno!!!'
        
    if lang == 'es':
        print(f'Hola {nombre}, {s}')
        
    else:
        print(f'Hello {nombre}, {s}')

In [148]:
saludo('oscar')

Hola oscar, alumno!!!

In [149]:
saludo('oscar', lang = 'en', alumno = False)

Hello oscar,

In [150]:
saludo(*['oscar','en',False])

Hello oscar,

In [153]:
def saludo_multiple(*lista, lang = 'en'):
    for i in lista:
        saludo(i, lang)

In [154]:
lst_n = ['oscar','paco','jimena','ruben']

In [155]:
saludo_multiple(*['oscar','paco','jimena','ruben'],lang = 'es')

Hola oscar, alumno!!!
Hola paco, alumno!!!
Hola jimena, alumno!!!
Hola ruben, alumno!!!

In [166]:
def saludin_multiple(*lista, lang = 'en', alumno= False):
    print(lista)
    print(lang)
    print(alumno)
    
    if alumno:
        print('Te mereces una cheve')
        
    for i in lista:
        saludo(i, lang, alumno = alumno)

In [167]:
saludin_multiple('oscar','paco','jimena','ruben')

('oscar', 'paco', 'jimena', 'ruben')
en
False
Hello oscar,
Hello paco,
Hello jimena,
Hello ruben,

In [181]:
config = {'alumno':False,'lang':'es'}

In [182]:
saludin_multiple('Mayumi','Ruben','Oscar','Paco',**config)

('Mayumi', 'Ruben', 'Oscar', 'Paco')
es
False
Hola Mayumi,
Hola Ruben,
Hola Oscar,
Hola Paco,

In [185]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [186]:
string = 'Hola  de nuevo, CoMo EsTan, Ya'

In [199]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [249]:
def swap_case(x):
    for i in x:
        if i.isupper():
            x = x.replace(i,i.lower())
        else:
            x = x.replace(i,i.upper())
    return x

In [201]:
swap_case(string)

'hOLA  De NUeVO, cOmO eStAN, yA'

In [194]:
string_swap

'Hola  de nuevo, CoMo EsTan, Ya'

In [204]:
''.join(list(map(swap_case,string)))

'hOLA  DE NUEVO, cOmO eStAN, yA'

In [222]:
m = lambda x: x*10+2 if x >40 else ''

In [223]:
o = [i for i in range(100)]

In [224]:
list(map(m,o))

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 412,
 422,
 432,
 442,
 452,
 462,
 472,
 482,
 492,
 502,
 512,
 522,
 532,
 542,
 552,
 562,
 572,
 582,
 592,
 602,
 612,
 622,
 632,
 642,
 652,
 662,
 672,
 682,
 692,
 702,
 712,
 722,
 732,
 742,
 752,
 762,
 772,
 782,
 792,
 802,
 812,
 822,
 832,
 842,
 852,
 862,
 872,
 882,
 892,
 902,
 912,
 922,
 932,
 942,
 952,
 962,
 972,
 982,
 992]

In [210]:
lst_str = ['este otro mensaje', ' es para', ' todos', ' los que ', ' comieron']

In [213]:
i_change = lambda x: x.replace('e','i')

In [214]:
list(map(i_change,lst_str))

['isti otro minsaji', ' is para', ' todos', ' los qui ', ' comiiron']

In [225]:
#Filter (func, iterable)

In [226]:
pares = lambda x: x if x%2==0 else False

In [233]:
[i for i in range(23,100) if i%2==0] #lista construida desde 0 para numeros pares

[24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [229]:
nume = [1,2,34,5,6,48,8,7,9,13]

In [232]:
list(filter(pares, nume))

[2, 34, 6, 48, 8]

In [235]:
def mayus_case(x):
    for i in x:
        if i.isupper():
            x = x
        else:
            x = x.replace(i,'')
    return x

In [236]:
list(filter(mayus_case, string))

['H', 'C', 'M', 'E', 'T', 'Y']

In [245]:
try:
    print(variable)
except NameError:
    print('La variable no esta difinida')

La variable no esta difinida

In [239]:
print(variable)

NameError: name 'variable' is not defined

In [246]:
2/0

ZeroDivisionError: division by zero

In [247]:
try:
    2/0
except:
    print('Que no estudiaste algebra, no existe divison entre zero')

Que no estudiaste algebra, no existe divison entre zero

In [ ]:
try:
    x/0
except:
    try:
        x/o
    except:
        print('la variable no esta definida')

In [256]:
lst_str.append(3)

In [257]:
lst_str

['este otro mensaje', ' es para', ' todos', ' los que ', ' comieron', 1, 3]

In [258]:
 string_swap = [list(map(swap_case,i)) for i in lst_str]

TypeError: 'int' object is not iterable

In [259]:
try:
    string_swap = [list(map(swap_case,i)) for i in lst_str]
except:
    string_swap = [list(map(swap_case,str(i))) for i in lst_str]

In [260]:
string_swap

[['E',
  'S',
  'T',
  'E',
  ' ',
  'O',
  'T',
  'R',
  'O',
  ' ',
  'M',
  'E',
  'N',
  'S',
  'A',
  'J',
  'E'],
 [' ', 'E', 'S', ' ', 'P', 'A', 'R', 'A'],
 [' ', 'T', 'O', 'D', 'O', 'S'],
 [' ', 'L', 'O', 'S', ' ', 'Q', 'U', 'E', ' '],
 [' ', 'C', 'O', 'M', 'I', 'E', 'R', 'O', 'N'],
 ['1'],
 ['3']]

In [262]:
!pip install nycflights13

Collecting nycflights13
  Downloading https://files.pythonhosted.org/packages/a1/6a/ce6fe2de399a54e1fc4c4b60c61987854974b936bab6d0f6444bc76939db/nycflights13-0.0.3.tar.gz (8.7MB)
Requirement already satisfied: pandas>=0.24.0 in c:\users\gralg\appdata\roaming\python\python37\site-packages (from nycflights13) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\gralg\appdata\roaming\python\python37\site-packages (from pandas>=0.24.0->nycflights13) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gralg\appdata\roaming\python\python37\site-packages (from pandas>=0.24.0->nycflights13) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\gralg\appdata\roaming\python\python37\site-packages (from pandas>=0.24.0->nycflights13) (1.19.1)
Requirement already satisfied: six>=1.5 in c:\users\gralg\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->nycflights13) (1.15.0)
Installing collected packages: nycflights13
  Running setup.py install for nycflights13: started
    Running setup.py install for nycflights13: finished with status 'error'
    Complete output from command "c:\program files\python37\python.exe" -u -c "import setuptools, tokenize;__file__='C:\\Users\\GralG\\AppData\\Local\\Temp\\pip-install-_siyd98e\\nycflights13\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\GralG\AppData\Local\Temp\pip-record-eh7yik1_\install-record.txt --single-version-externally-managed --compile:
    running install
    running build
    running build_py
    creating build
    creating build\lib
    creating build\lib\nycflights13
    copying nycflights13\__init__.py -> build\lib\nycflights13
    package init file 'pip-egg-info\__init__.py' not found (or not a regular file)
    package init file 'nycflights13\data\__init__.py' not found (or not a regular file)
    running egg_info
    writing nycflights13.egg-info\PKG-INFO
    writing dependency_links to nycflights13.egg-info\dependency_links.txt

Command ""c:\program files\python37\python.exe" -u -c "import setuptools, tokenize;__file__='C:\\Users\\GralG\\AppData\\Local\\Temp\\pip-install-_siyd98e\\nycflights13\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\GralG\AppData\Local\Temp\pip-record-eh7yik1_\install-record.txt --single-version-externally-managed --compile" failed with error code 1 in C:\Users\GralG\AppData\Local\Temp\pip-install-_siyd98e\nycflights13\
You are using pip version 19.0.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

    writing requirements to nycflights13.egg-info\requires.txt
    writing top-level names to nycflights13.egg-info\top_level.txt
    reading manifest file 'nycflights13.egg-info\SOURCES.txt'
    reading manifest template 'MANIFEST.in'
    writing manifest file 'nycflights13.egg-info\SOURCES.txt'
    creating build\lib\nycflights13\data
    copying nycflights13\data\airlines.csv -> build\lib\nycflights13\data
    copying nycflights13\data\airports.csv -> build\lib\nycflights13\data
    copying nycflights13\data\flights.csv.zip -> build\lib\nycflights13\data
    copying nycflights13\data\planes.csv -> build\lib\nycflights13\data
    copying nycflights13\data\weather.csv -> build\lib\nycflights13\data
    running install_lib
    creating c:\program files\python37\Lib\site-packages\nycflights13
    error: could not create 'c:\program files\python37\Lib\site-packages\nycflights13': Acceso denegado

    ----------------------------------------

In [2]:
import pandas as pd

In [61]:
flights = pd.read_csv('flights.csv')

C:\Users\GralG\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [267]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [270]:
str(flights['YEAR'].dtypes)

'int64'

In [275]:
flights['YEAR']

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
5819074    2015
5819075    2015
5819076    2015
5819077    2015
5819078    2015
Name: YEAR, Length: 5819079, dtype: int32

In [6]:
def sixty_thirty(df):
    for i in df.columns:
        if str(df[i].dtypes) == 'int64':
            df[i] = df[i].astype('int16')
        elif str(df[i].dtypes) == 'float64':
            df[i] = df[i].astype('float32')
            
    return df

In [7]:
df = sixty_thirty(flights)

In [276]:
df['YEAR']

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
5819074    2015
5819075    2015
5819076    2015
5819077    2015
5819078    2015
Name: YEAR, Length: 5819079, dtype: int32

In [295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int16
 1   MONTH                int16
 2   DAY                  int16
 3   DAY_OF_WEEK          int16
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int16
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int16
 10  DEPARTURE_TIME       float32
 11  DEPARTURE_DELAY      float32
 12  TAXI_OUT             float32
 13  WHEELS_OFF           float32
 14  SCHEDULED_TIME       float32
 15  ELAPSED_TIME         float32
 16  AIR_TIME             float32
 17  DISTANCE             int16
 18  WHEELS_ON            float32
 19  TAXI_IN              float32
 20  SCHEDULED_ARRIVAL    int16
 21  ARRIVAL_TIME         float32
 22  ARRIVAL_DELAY        float32
 23  DIVERTED             int16
 24  CANCELLED            int16
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float32
 27  SECURITY_DELAY       float32
 28  AIRLINE_DELAY        float32
 29  LATE_AIRCRAFT_DELAY  float32
 30  WEATHER_DELAY        float32
dtypes: float32(16), int16(10), object(5)
memory usage: 688.1+ MB

In [288]:
df.isna().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [300]:
len(df['TAIL_NUMBER'].unique())

4898

In [302]:
df['ORIGIN_AIRPORT'].unique()

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'MAF', 'DFW', 'MKE',
       'IAH', 'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'SGF', 'PHL', 'SBN',
       'RDD', 'EUG', 'IAD', 'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT',
       'SMF', 'AUS', 'MCI', 'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA',
       'SAT', 'CHS', 'SBA', 'SMX', 'IND', 'CLE', 'GSP', 'BDL', 'ABI',
       'RIC', 'BFL', 'OMA', 'RDM', 'FLL', 'CID', 'TPA', 'SYR', 'ROC',
       'TYR', 'LAN', 'XNA', 'GSO', 'EWR', 'PBI', 'RSW', 'OAK', 'PVD',
       'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'LGA', 'TUL', 'LIT', 'MSY',
       'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT', 'SAV', 'CLT', 'GRB',
       'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX', 'CWA', 'MSO', 'TTN',
       'AMA', 'CLL', 'HOU', 'JLN', 'MLI', 'RDU', 'CVG', 'MHK', 'MOB',
       'TLH', 'BHM', 'CAE', 'TXK', 'ACY', 'DTW', 'RAP', 'TUS', 'EAU',
       'DLH', 'FSD', 'INL', 'CMX', 'SPI', 'CLD', 'COD', 'CMH', 'LRD',
       'PSC', 'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP',
       'MFE', 'STL', 'BTV', 'FSM', 'AEX', 'SPS', 'ACT', 'SJT', 'MTJ',
       'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT', 'MLU', 'KOA', 'SAN',
       'LAW', 'PIB', 'MGM', 'SBP', 'COS', 'LAR', 'DRO', 'BIS', 'ITO',
       'BTR', 'GRI', 'HLN', 'BZN', 'MDW', 'MDT', 'SCE', 'LIH', 'TWF',
       'BPT', 'GPT', 'STC', 'HPN', 'MLB', 'PLN', 'CIU', 'CAK', 'DSM',
       'BLI', 'SHV', 'ROW', 'FWA', 'SNA', 'ALB', 'HOB', 'LNK', 'CMI',
       'COU', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'SAF', 'GRR', 'SUX',
       'LFT', 'HYS', 'ELP', 'DVL', 'ISP', 'BUR', 'DAB', 'DAY', 'GRK',
       'GJT', 'BMI', 'LBE', 'ASE', 'RKS', 'GUM', 'TVC', 'ALO', 'IMT',
       'LCH', 'JNU', 'JAC', 'MEI', 'DBQ', 'GCK', 'GNV', 'BRD', 'DIK',
       'SDF', 'LBB', 'AVP', 'BTM', 'ELM', 'PIH', 'ICT', 'SUN', 'LWS',
       'VEL', 'STT', 'YUM', 'FLG', 'FCA', 'HDN', 'JMS', 'ROA', 'CHA',
       'EYW', 'MYR', 'CRW', 'MQT', 'CHO', 'ECP', 'EVV', 'EGE', 'MBS',
       'GFK', 'TOL', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM', 'PUB', 'RHI',
       'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'APN', 'AGS', 'CEC',
       'DHN', 'WRG', 'PHF', 'CNY', 'BRW', 'GGG', 'AZO', 'SRQ', 'ORH',
       'TRI', 'VLD', 'SIT', 'BQK', 'PSG', 'FAY', 'MKG', 'CSG', 'EWN',
       'OME', 'SGU', 'RST', 'GTR', 'BET', 'ABY', 'SWF', 'ILG', 'ADK',
       'UST', 'YAK', 'CDV', 'OTH', 'ADQ', 'PPG', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '11695', '16218', '14113', '11624', '11503',
       '10739', '14574', '14711', '12129', '15070', '14520', '13184',
       '11252', '12280', '13241', '11898', '15024', '14674', '10551',
       '12819', '13459', '10581', '13970', '10372', '10918', '14709',
       '12255', 11267, 12266, 10821, 14771, 11433, 11982, 11905, 15411,
       14679, 14108, 10397, 13871, 11618, 14574, 10423, 11259, 10800,
       11140, 12191, 12889, 13198, 10529, 10693, 13232, 11540, 14570,
       14635, 14831, 11298, 13204, 11278, 14100, 12892, 12478, 13930,
       15304, 14107, 12523, 12954, 11697, 14057, 12339, 13487, 14893,
       11986, 11292, 14576, 15370, 12402, 14908, 12953, 12758, 15016,
       10721, 12264, 10685, 11612, 13277, 11057, 12891, 12197, 11193,
       13495, 13891, 13244, 14843, 14747, 11996, 10333, 14262, 11695,
       13342, 14698, 10431, 15376, 12451, 14524, 13830, 13796, 14122,
       14960, 16218, 10713, 11066, 10208, 14683, 14869, 14492, 11638,
       11413, 10792, 10408, 14689, 10980, 14952, 12951, 15323, 11884,
       14307, 14730, 14783, 11603, 11977, 11921, 13577, 13061, 13851,
       11042, 12448, 12992, 10874, 12896, 11308, 12173, 12206, 13377,
       10747, 13256, 13303, 10185, 10599, 10140, 15295, 11898, 13795,
       10728, 10994, 12391, 10299, 12217, 13290, 12007, 11109, 15096,
       10627, 13433, 15249, 12278, 12915, 11637, 13931, 13485, 11721,
       11775, 13476, 15841, 14027, 15380, 12945, 11315, 15919, 13360,
       10868, 14986, 12982, 10279, 11150, 13264, 14193, 11823, 13367,
       10469, 11423, 11337, 11252, 13029, 14696, 11049, 13296, 14685,
       13158, 12323, 10257, 14588, 11274, 13344, 13933, 15412, 13422,
       11146, 15991, 13230, 14794, 11003, 14828, 10781, 10990, 10785,
       10434, 14457, 11481, 11537, 10136, 14814, 10754, 10135, 10731,
       13127, 14321, 10849, 14098, 10146, 15607, 11624, 12177, 10158,
       12884, 15624, 14256, 11973, 14842, 15356, 10561, 14113, 15389,
       14489, 12094, 12888, 13076, 12129, 13873, 10157, 11995, 10631,
       12441, 12343, 14252, 11097, 10732, 10154, 11122, 11641, 13486,
       12003, 10620, 10779, 12335, 11076, 15041, 12156, 12280, 10926,
       12819, 11865, 12519, 11778, 10551, 12389, 11953, 12898, 15024,
       10155, 11013, 10372, 11587, 13964, 11980, 11630, 11648, 14905,
       11525, 15070, 11471, 11111, 14633, 11447, 11203, 13241, 12511,
       11067, 10268, 13184, 10141, 13541, 14150, 15027, 14109, 15048,
       14006, 10739, 14520, 11617, 14487, 11867, 14674, 14543, 10577,
       10170, 11577, 14709, 14711, 12255, 10165, 10918, 15401, 13970,
       15497, 12265, 14254, 10581, 12016, 11503, 13459, 14222, 14025,
       13502, '15841', '13344', '15991', '10754', '14256', '13873',
       '11097', '10926', '13964', '11905', '15027', '13933', '10170',
       '10333', '14222', '14025', '13502', '15497', '12265'], dtype=object)

In [304]:
df['DAY_OF_WEEK'].unique()

array([4, 5, 6, 7, 1, 2, 3], dtype=int16)

In [4]:
import matplotlib.pyplot as mlp

ImportError: DLL load failed: No se puede encontrar el módulo especificado.

In [8]:
df['DAY_OF_WEEK'].value_counts().plot(kind = 'hbar')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [10]:
df['AIRLINE'].unique()

array(['AS', 'AA', 'US', 'DL', 'NK', 'UA', 'HA', 'B6', 'OO', 'EV', 'MQ',
       'F9', 'WN', 'VX'], dtype=object)

In [12]:
pd.crosstab(df['DAY_OF_WEEK'],df['AIRLINE'])

AIRLINE,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
DAY_OF_WEEK,,,,,,,,,,,,,,
1,106225,25082,38902,131682,86979,13228,10841,43872,16794,87484,78549,29391,9286,187228
2,103401,24165,37753,128412,83541,12991,10516,42970,16359,84054,74945,28496,8990,188007
3,106503,24395,37749,129943,85001,13015,10796,43450,16493,86211,76718,28309,9071,188243
4,108168,25477,39470,132064,87126,13424,11031,44314,17054,87902,79126,30160,9411,187794
5,106374,25135,38801,130234,86299,13242,11662,43869,16991,86611,77634,30246,9380,185731
6,92264,23574,35631,99365,63484,11878,10559,34246,16844,71767,57675,24389,7098,151771
7,103049,24693,38742,124181,79547,13058,10867,41911,16844,84324,71076,27724,8667,173081

In [13]:
df['new_colum'] = df['YEAR']/10

In [15]:
df['new_colum']

0          201.5
1          201.5
2          201.5
3          201.5
4          201.5
           ...
5819074    201.5
5819075    201.5
5819076    201.5
5819077    201.5
5819078    201.5
Name: new_colum, Length: 5819079, dtype: float64

In [18]:
df.drop('new_colum', axis = 1, inplace = True)

In [ ]:
df.drop(['new_colum','otra_columna'], axis = 1, inplace = True)

In [19]:
df['ORIGIN_AIRPORT']

0          ANC
1          LAX
2          SFO
3          LAX
4          SEA
          ...
5819074    LAX
5819075    JFK
5819076    JFK
5819077    MCO
5819078    JFK
Name: ORIGIN_AIRPORT, Length: 5819079, dtype: object

In [20]:
df['YEAR']

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
5819074    2015
5819075    2015
5819076    2015
5819077    2015
5819078    2015
Name: YEAR, Length: 5819079, dtype: int16

In [24]:
df[[df['YEAR'],df['AIRLINE']]

SyntaxError: unexpected EOF while parsing (<ipython-input-24-edeae622a399>, line 1)

In [25]:
df[['YEAR','AIRLINE','DAY_OF_WEEK']]

         YEAR AIRLINE  DAY_OF_WEEK
0        2015      AS            4
1        2015      AA            4
2        2015      US            4
3        2015      AA            4
4        2015      AS            4
...       ...     ...          ...
5819074  2015      B6            4
5819075  2015      B6            4
5819076  2015      B6            4
5819077  2015      B6            4
5819078  2015      B6            4

[5819079 rows x 3 columns]

In [28]:
df[['YEAR','AIRLINE','DAY_OF_WEEK']][df['DAY_OF_WEEK'] == 4] 
#Se llaman las columnas que se requieren con doble corchete si son varias columnas
#Filtrando por la columna DAY_OF_WEEK sea igual a 4

         YEAR AIRLINE  DAY_OF_WEEK
0        2015      AS            4
1        2015      AA            4
2        2015      US            4
3        2015      AA            4
4        2015      AS            4
...       ...     ...          ...
5819074  2015      B6            4
5819075  2015      B6            4
5819076  2015      B6            4
5819077  2015      B6            4
5819078  2015      B6            4

[872521 rows x 3 columns]

In [36]:
df_2 = df[['YEAR','AIRLINE','DAY_OF_WEEK']][(df['DAY_OF_WEEK'] == 4) | (df['DAY_OF_WEEK'] == 7)] 
df_2

         YEAR AIRLINE  DAY_OF_WEEK
0        2015      AS            4
1        2015      AA            4
2        2015      US            4
3        2015      AA            4
4        2015      AS            4
...       ...     ...          ...
5819074  2015      B6            4
5819075  2015      B6            4
5819076  2015      B6            4
5819077  2015      B6            4
5819078  2015      B6            4

[1690285 rows x 3 columns]

In [34]:
df_2['DAY_OF_WEEK'].unique()

array([4, 7], dtype=int16)

In [42]:
df_3 = df[['YEAR','AIRLINE','DAY_OF_WEEK']][((df['DAY_OF_WEEK'] == 4) | (df['DAY_OF_WEEK'] == 7))&(df['AIRLINE'] == 'AA')]

In [43]:
df_3

         YEAR AIRLINE  DAY_OF_WEEK
1        2015      AA            4
3        2015      AA            4
8        2015      AA            4
11       2015      AA            4
21       2015      AA            4
...       ...     ...          ...
5819031  2015      AA            4
5819035  2015      AA            4
5819049  2015      AA            4
5819067  2015      AA            4
5819068  2015      AA            4

[211217 rows x 3 columns]

In [47]:
df.loc[:10,['AIRLINE','YEAR']]

   AIRLINE  YEAR
0       AS  2015
1       AA  2015
2       US  2015
3       AA  2015
4       AS  2015
5       DL  2015
6       NK  2015
7       US  2015
8       AA  2015
9       DL  2015
10      DL  2015

In [53]:
df.iloc[:10,[1,4]]

   MONTH AIRLINE
0      1      AS
1      1      AA
2      1      US
3      1      AA
4      1      AS
5      1      DL
6      1      NK
7      1      US
8      1      AA
9      1      DL

In [54]:
df['DISTANCE']

0          1448
1          2330
2          2296
3          2342
4          1448
           ...
5819074    2611
5819075    1617
5819076    1598
5819077    1189
5819078    1576
Name: DISTANCE, Length: 5819079, dtype: int16

In [56]:
df['CANCELLATION_REASON'].unique()

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [58]:
correct_flight = lambda x: x*2

In [59]:
df['FLIGHT_NUMBER'] = df['FLIGHT_NUMBER'].apply(correct_flight)

In [60]:
df['FLIGHT_NUMBER']

0           196
1          4672
2          1680
3           516
4           270
           ...
5819074    1376
5819075    1490
5819076    3006
5819077     666
5819078    1678
Name: FLIGHT_NUMBER, Length: 5819079, dtype: int64

In [62]:
flights['FLIGHT_NUMBER']

0            98
1          2336
2           840
3           258
4           135
           ...
5819074     688
5819075     745
5819076    1503
5819077     333
5819078     839
Name: FLIGHT_NUMBER, Length: 5819079, dtype: int64

In [74]:
df['FLIGHT_NUMBER']

0           196
1          4672
2          1680
3           516
4           270
           ...
5819074    1376
5819075    1490
5819076    3006
5819077     666
5819078    1678
Name: FLIGHT_NUMBER, Length: 5819079, dtype: int64

In [71]:
def split_n(x):
    x = str(x)
    j = x[::1]
    k = j[-1]
    return k

In [72]:
df['new_column'] = df['FLIGHT_NUMBER'].apply(split_n)

In [73]:
df['new_column']

0          6
1          2
2          0
3          6
4          0
          ..
5819074    6
5819075    0
5819076    6
5819077    6
5819078    8
Name: new_column, Length: 5819079, dtype: object

In [91]:
flights[flights['AIRLINE'] == 'AA']

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,4,AA,1674,N853AA,LAS,MIA,35,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,100,...,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819031,2015,12,31,4,AA,1927,N837AW,LAX,IAD,2349,...,712.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819035,2015,12,31,4,AA,675,N207UW,HNL,PHX,2350,...,818.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819049,2015,12,31,4,AA,1538,N866AA,LAX,MIA,2355,...,731.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819067,2015,12,31,4,AA,2342,N3DLAA,DEN,MIA,2359,...,525.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819068,2015,12,31,4,AA,219,N3LYAA,LAX,ORD,2359,...,544.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
m = list(flights[flights['AIRLINE'] == 'AA'].index)
m

[1,
 3,
 8,
 11,
 21,
 23,
 29,
 31,
 42,
 64,
 70,
 71,
 74,
 86,
 119,
 120,
 141,
 142,
 158,
 159,
 170,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 265,
 266,
 387,
 388,
 389,
 390,
 432,
 433,
 434,
 435,
 436,
 443,
 454,
 468,
 469,
 470,
 471,
 523,
 524,
 525,
 526,
 528,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 597,
 598,
 599,
 643,
 644,
 645,
 646,
 652,
 674,
 675,
 676,
 683,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 732,
 734,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 789,
 803,
 804,
 805,
 806,
 807,
 808,
 825,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 925,
 941,
 979,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1049,
 1050,
 1051,
 1069,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1333,
 1334,
 1335,
 1336,
 1337,
 1345,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 1398,
 1427,
 1428,
 1429,
 1430,
 1431,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1515,
 1516,
 1517,
 1518,
 1519,
 1548,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1735,
 1787,
 1788,
 1824,
 1853,
 1854,
 1855,
 1856,
 1857,
 1858,
 1859,
 1860,
 1861,
 1873,
 1926,
 1927,
 1928,
 1971,
 1972,
 1973,
 1974,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2046,
 2047,
 2106,
 2107,
 2108,
 2109,
 2172,
 2173,
 2174,
 2175,
 2176,
 2177,
 2178,
 2179,
 2180,
 2189,
 2240,
 2241,
 2242,
 2243,
 2244,
 2245,
 2246,
 2258,
 2287,
 2324,
 2325,
 2326,
 2327,
 2328,
 2372,
 2373,
 2374,
 2375,
 2376,
 2377,
 2382,
 2383,
 2440,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2452,
 2453,
 2454,
 2455,
 2456,
 2457,
 2458,
 2459,
 2460,
 2556,
 2557,
 2558,
 2565,
 2623,
 2624,
 2625,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2698,
 2754,
 2755,
 2756,
 2757,
 2758,
 2764,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2826,
 2876,
 2877,
 2878,
 2879,
 2880,
 2881,
 2882,
 2883,
 2884,
 2891,
 2948,
 2949,
 2950,
 2951,
 2979,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3079,
 3080,
 3081,
 3082,
 3083,
 3156,
 3157,
 3158,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3170,
 3240,
 3241,
 3242,
 3243,
 3325,
 3326,
 3327,
 3328,
 3329,
 3330,
 3331,
 3332,
 3333,
 3419,
 3420,
 3421,
 3422,
 3423,
 3424,
 3425,
 3494,
 3495,
 3496,
 3497,
 3569,
 3570,
 3571,
 3572,
 3573,
 3574,
 3662,
 3663,
 3664,
 3665,
 3669,
 3671,
 3672,
 3715,
 3716,
 3717,
 3718,
 3719,
 3720,
 3757,
 3791,
 3792,
 3793,
 3794,
 3795,
 3796,
 3797,
 3855,
 3856,
 3857,
 3858,
 3859,
 3860,
 3861,
 3916,
 3917,
 3918,
 3985,
 3986,
 3987,
 3988,
 3989,
 3990,
 3991,
 3995,
 3999,
 4055,
 4056,
 4057,
 4058,
 4059,
 4060,
 4061,
 4062,
 4130,
 4131,
 4132,
 4133,
 4134,
 4135,
 4136,
 4137,
 4145,
 4149,
 4221,
 4222,
 4223,
 4224,
 4225,
 4226,
 4227,
 4228,
 4229,
 4230,
 4234,
 4305,
 4306,
 4307,
 4308,
 4309,
 4310,
 4312,
 4380,
 4381,
 4452,
 4453,
 4454,
 4455,
 4456,
 4457,
 4458,
 4459,
 4460,
 4539,
 4540,
 4621,
 4622,
 4623,
 4624,
 4665,
 4708,
 4709,
 4710,
 4711,
 4712,
 4713,
 4714,
 4715,
 4719,
 4797,
 4798,
 4799,
 4800,
 4801,
 4802,
 4874,
 4875,
 4876,
 4877,
 4878,
 4879,
 4880,
 4881,
 4882,
 4953,
 4954,
 4955,
 4956,
 4957,
 4958,
 4959,
 4960,
 4961,
 5038,
 5039,
 5040,
 5041,
 5042,
 5043,
 5044,
 5045,
 5046,
 5047,
 5048,
 5049,
 5051,
 5070,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5114,
 5122,
 5123,
 5198,
 5199,
 5200,
 5201,
 5214,
 5289,
 5290,
 5369,
 5370,
 5371,
 5372,
 5373,
 5374,
 5375,
 5376,
 5377,
 5378,
 5440,
 5441,
 5442,
 5443,
 5444,
 5445,
 5446,
 5447,
 5448,
 5521,
 5522,
 5523,
 5524,
 5525,
 5526,
 5527,
 5528,
 5591,
 5592,
 5593,
 5594,
 5595,
 5596,
 5597,
 5598,
 5599,
 5603,
 5604,
 5631,
 5632,
 5663,
 5664,
 5665,
 5666,
 5667,
 5668,
 5669,
 5670,
 5671,
 5672,
 5673,
 5736,
 5737,
 5738,
 5739,
 5740,
 5741,
 5744,
 5751,
 5818,
 5873,
 5874,
 5875,
 5876,
 5877,
 5878,
 5879,
 5880,
 5886,
 5950,
 5951,
 5952,
 5953,
 5954,
 5955,
 5956,
 5957,
 5958,
 5959,
 5960,
 5965,
 6035,
 6036,
 6037,
 6038,
 6039,
 6040,
 6121,
 6122,
 6123,
 6124,
 6125,
 6126,
 6127,
 6128,
 6129,
 6130,
 6131,
 6205,
 6206,
 6207,
 6208,
 6209,
 6210,
 6211,
 6212,
 6213,
 6214,
 6215,
 6253,
 6276,
 6277,
 6278,
 6362,
 6363,
 6364,
 6365,
 6366,
 6367,
 6368,
 6369,
 6370,
 6371,
 6470,
 6471,
 6472,
 6473,
 6476,
 6547,
 6548,
 6549,
 6550,
 6551,
 6552,
 6590,
 6620,
 6621,
 6622,
 6623,
 6624,
 6696,
 6697,
 6698,
 6699,
 6700,
 6701,
 6702,
 6703,
 6704,
 6705,
 6769,
 6770,
 6771,
 6772,
 6773,
 6778,
 6779,
 6782,
 6851,
 6852,
 6853,
 6854,
 6933,
 6934,
 6935,
 6936,
 6937,
 6938,
 6939,
 6940,
 6941,
 6980,
 7011,
 7012,
 7013,
 7014,
 7015,
 7016,
 7017,
 7018,
 7019,
 7029,
 7118,
 7119,
 7120,
 7121,
 7122,
 7123,
 7124,
 7125,
 7126,
 7127,
 7128,
 7129,
 7130,
 7137,
 7161,
 7197,
 7198,
 7199,
 7200,
 7201,
 7261,
 7262,
 7263,
 7264,
 7265,
 7266,
 7267,
 7276,
 7330,
 7331,
 7332,
 7333,
 7334,
 7335,
 7336,
 7337,
 7340,
 7403,
 7404,
 7405,
 7406,
 7407,
 7408,
 7413,
 7414,
 7415,
 7474,
 7475,
 7476,
 7477,
 7478,
 7479,
 7480,
 7550,
 7551,
 7552,
 7553,
 7554,
 7635,
 7636,
 7637,
 7638,
 7639,
 7640,
 7678,
 7698,
 7699,
 7700,
 7701,
 7702,
 7779,
 7780,
 7781,
 7782,
 7783,
 7784,
 7785,
 7786,
 7787,
 7788,
 7789,
 7790,
 7849,
 7850,
 7851,
 7852,
 7853,
 7854,
 7855,
 7859,
 7926,
 7927,
 7928,
 7929,
 7930,
 7931,
 7932,
 7933,
 7991,
 8030,
 8031,
 8032,
 8033,
 8034,
 8035,
 8036,
 8037,
 8038,
 8039,
 8040,
 8041,
 8042,
 8043,
 8044,
 8117,
 8118,
 8119,
 8120,
 8121,
 8122,
 8123,
 8178,
 8179,
 8180,
 8181,
 8182,
 8256,
 8257,
 8258,
 8259,
 8260,
 8261,
 8262,
 8263,
 8323,
 8324,
 8325,
 8326,
 8327,
 8408,
 8409,
 8410,
 8411,
 8412,
 8413,
 8450,
 8493,
 8494,
 8495,
 8496,
 8497,
 8498,
 8499,
 8507,
 8576,
 8577,
 8578,
 8654,
 8655,
 8656,
 8657,
 8722,
 8723,
 8724,
 8725,
 8726,
 8727,
 8753,
 8754,
 8766,
 8807,
 8808,
 8809,
 8810,
 8811,
 8812,
 8813,
 8814,
 8887,
 8888,
 8889,
 8890,
 8891,
 8892,
 8893,
 8894,
 8900,
 8944,
 8987,
 8988,
 8989,
 8990,
 8991,
 8992,
 8993,
 8994,
 9004,
 9005,
 9082,
 9083,
 9084,
 9085,
 9086,
 9087,
 9088,
 9089,
 9144,
 9145,
 9146,
 9147,
 9148,
 9149,
 9150,
 9151,
 9162,
 9221,
 9222,
 9223,
 9224,
 9225,
 9262,
 9305,
 9306,
 9307,
 9308,
 9309,
 9314,
 9378,
 9379,
 9380,
 9381,
 9382,
 9383,
 9407,
 9444,
 9445,
 9446,
 ...]

In [87]:
def drop_row(df):
    m = list(df[df['AIRLINE'] == 'AA'].index)
    df.drop(m,axis = 0, inplace = True)
    return df

In [88]:
n = drop_row(df)

In [89]:
n

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,new_column
0,2015,1,1,4,AS,196,N407AS,ANC,SEA,5,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6
2,2015,1,1,4,US,1680,N171US,SFO,CLT,20,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2015,1,1,4,AS,270,N527AS,SEA,ANC,25,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
5,2015,1,1,4,DL,1612,N3730B,SFO,MSP,25,...,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2
6,2015,1,1,4,NK,1224,N635NK,LAS,MSP,25,...,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,1376,N657JB,LAX,BOS,2359,...,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6
5819075,2015,12,31,4,B6,1490,N828JB,JFK,PSE,2359,...,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
5819076,2015,12,31,4,B6,3006,N913JB,JFK,SJU,2359,...,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6
5819077,2015,12,31,4,B6,666,N527JB,MCO,SJU,2359,...,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6
5819078,2015,12,31,4,B6,1678,N534JB,JFK,BQN,2359,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8