In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [8]:
#Listas
lst = ['jh',123,True, [18927389], {'123':[455,'1','12']}]

In [3]:
lst[0]

'jh'

In [4]:
lst[-1]

{'123': [455, '1', '12']}

In [5]:
ultima = lst.pop()

In [6]:
ultima

{'123': [455, '1', '12']}

In [7]:
lst

['jh', 123, True, [18927389]]

In [10]:
lst[-1]['123']

[455, '1', '12']

In [11]:
lst.append('hola')

In [12]:
lst

['jh', 123, True, [18927389], {'123': [455, '1', '12']}, 'hola']

In [13]:
lst.index('hola')

5

In [14]:
lst_2 = lst.copy()

In [15]:
lst_2.remove('hola')

In [16]:
lst_2

['jh', 123, True, [18927389], {'123': [455, '1', '12']}]

In [17]:
lst_2.insert(0,'adios')

In [18]:
lst_2

['adios', 'jh', 123, True, [18927389], {'123': [455, '1', '12']}]

In [19]:
lst_2.reverse()

In [20]:
lst_2

[{'123': [455, '1', '12']}, [18927389], True, 123, 'jh', 'adios']

In [21]:
lst_2.sort()

TypeError: '<' not supported between instances of 'list' and 'dict'

In [22]:
m = [e for e in range(11)]

In [26]:
m.sort(reverse = True)

In [27]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
k = ['hola','adios','es','viernes','ala']

In [33]:
k.sort()

In [34]:
k

['adios', 'ala', 'es', 'hola', 'viernes']

In [35]:
k[:3]

['adios', 'ala', 'es']

In [36]:
k[3:]

['hola', 'viernes']

In [37]:
k[-2:]

['hola', 'viernes']

In [38]:
n = [i for i in range(100)]

In [39]:
n[::3]

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [40]:
n[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [43]:
v = 'Es viernes y El CuerpO lo sabE'

In [46]:
for i in v:
    if i.isupper():
        print(i)

E
E
C
O
E

In [47]:
for i in v:
    if i.islower():
        print(i)

s
v
i
e
r
n
e
s
y
l
u
e
r
p
l
o
s
a
b

In [53]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
for x, y in enumerate(m):
    print(f'el indice es: {x} y su elemento es: {y}')

el indice es: 0 y su elemento es: 10
el indice es: 1 y su elemento es: 9
el indice es: 2 y su elemento es: 8
el indice es: 3 y su elemento es: 7
el indice es: 4 y su elemento es: 6
el indice es: 5 y su elemento es: 5
el indice es: 6 y su elemento es: 4
el indice es: 7 y su elemento es: 3
el indice es: 8 y su elemento es: 2
el indice es: 9 y su elemento es: 1
el indice es: 10 y su elemento es: 0

In [55]:
fibo = [0,1]

In [57]:
for i in range(0,100):
    result = fibo[-1]+fibo[-2]
    fibo.append(result)
    
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [58]:
lst = [i for i in range(100)] #i sera lo que nosotros queremos en la lista y for sera el recorrido que haremos para construirla

In [59]:
m

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [63]:
m_square = [i**2 for i in lst]

In [64]:
m_square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [65]:
m_par = [i for i in m_square if i%2 == 0]

In [66]:
m_par

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [68]:
lst_double = []
for i in range(0,10):
    lst_double.append([i+1, i+2, i+3])

In [74]:
lst_double[0]

[1, 2, 3]

In [73]:
for x,y in enumerate(lst_double):
    print(x,':',y)

0 : [1, 2, 3]
1 : [2, 3, 4]
2 : [3, 4, 5]
3 : [4, 5, 6]
4 : [5, 6, 7]
5 : [6, 7, 8]
6 : [7, 8, 9]
7 : [8, 9, 10]
8 : [9, 10, 11]
9 : [10, 11, 12]

In [77]:
lst_pares = [i for i in lst if i%2 == 0 and i > 25 and i < 75]