# Funciones lambda (anonimas)

In [1]:
def suma(a,b):
    return a+b

In [2]:
r = suma(2,5)
r

7

In [3]:
suma_2 = lambda a,b: a+b

In [11]:
suma_2

In [5]:
suma_2(5,7)

12

In [6]:
def suma_3(a , b = 10):
    return a+b

In [7]:
suma_3(2)

12

In [8]:
suma_3(2,5)

7

In [9]:
suma_4 = lambda a, b=10: a+b

In [10]:
suma_4

In [12]:
suma_4(4)

14

In [13]:
suma_4(4,3)

7

In [14]:
lst = [1,2,3,4,5,6,7]

In [15]:
lst_r = []
for i in lst:
    f = i*2
    lst_r.append(f)

In [16]:
lst_r

[2, 4, 6, 8, 10, 12, 14]

In [17]:
a = [i*2 for i in lst]

In [19]:
m = [(lambda x: x*2)(i) for i in lst]

In [20]:
m

[2, 4, 6, 8, 10, 12, 14]

In [21]:
mult = lambda x: x*2

In [22]:
mult

In [23]:
n = [mult(i) for i in lst]

In [26]:
l = [mult(i) for i in range(100)]

In [28]:
%pprint off
l

Pretty printing has been turned OFF

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [30]:
g = (lambda a,b : a*b+2)(2,5)

In [31]:
g

12

# MAP (mathematical application)

In [80]:
#map es un buil-in que aplicara una funcion a un iterable
#map(FUNCION, ITERABLE)

In [33]:
map(lambda x: x**2, lst)

In [34]:
list(map(lambda x: x**2, lst))

[1, 4, 9, 16, 25, 36, 49]

In [35]:
for i in map(lambda x: x**2, lst):
    print(i)

1
4
9
16
25
36
49

In [86]:
a = [1,2,3,4,5,3,4,5]
b = [6,7,8,9,10]
c = [11,12,13,14,15]
list(map(lambda x,y,z: x*y*z, a,b,c))

[66, 168, 312, 504, 750]

In [68]:
a = [1,2,3,4,5,3,4,5]
b = [6,7,8,9,10]
c = {'a':[11,12,13,14,15], 'b' : [2,9,8,3,6] ,'c' : [2,9,8,3,6]}
list(map(lambda x,y,z: x*y*z, a,b,c)) # para el caso de diccionarios toma la llave y multiplica
                                       # a * 6 * 1, es decir los primeros valores
    
#por defecto los diccionarios se toman las llaves si no se especifican

['aaaaaa', 'bbbbbbbbbbbbbb', 'cccccccccccccccccccccccc']

In [69]:
a = [1,2,3,4,5,3,4,5]
b = [6,7,8,9,10]
c = {'a':[11,12,13,14,15], 'b' : [2,9,8,3,6] ,'c' : [2,9,8,3,6]}
list(map(lambda x,y,z: x*y*z, a,b,c.values()))# Caso con values

[[11, 12, 13, 14, 15, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15], [2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6], [2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6, 2, 9, 8, 3, 6]]

In [71]:
lst_words = ['hola','vecino','como', 'sol']

In [77]:
rep = lambda x: x.replace('o', 'i')

In [78]:
lst_m = [rep(i)for i in lst_words]

In [81]:
list(map(rep,lst_words))

['hila', 'vecini', 'cimi', 'sil']

In [84]:
def rep_2(x):
    return x.replace('o','i')

In [85]:
list(map(rep_2,lst_words))

['hila', 'vecini', 'cimi', 'sil']

In [83]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [87]:
a = [1,2,3,4,5,3,4,5]
b = [6,7,8,9,10]
c = [11,12,13,14,15]
list(map(lambda x,y,z,w: x*y*z+w, a,b,c,c))

[77, 180, 325, 518, 765]

# Reduce

In [88]:
from functools import reduce

In [89]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [90]:
def suma_5(a,b):
    return a+b

In [91]:
g = [1,2,4,5,566,6,7,78,89]

In [92]:
reduce(suma_5,g)

758

In [93]:
def sumin(a, b):
    print(f'Acumulado: {a} + elemento {b}')
    return a+b

In [94]:
print('Resultado reduce', reduce(sumin,g))

Acumulado: 1 + elemento 2
Acumulado: 3 + elemento 4
Acumulado: 7 + elemento 5
Acumulado: 12 + elemento 566
Acumulado: 578 + elemento 6
Acumulado: 584 + elemento 7
Acumulado: 591 + elemento 78
Acumulado: 669 + elemento 89
Resultado reduce 758

In [95]:
sum(g)

758

In [100]:
def restin(a, b):
    print(f'Acumulado: {a} - elemento {b}')
    return a-b

In [101]:
print('Resultado reduce', reduce(restin,g))

Acumulado: 1 - elemento 2
Acumulado: -1 - elemento 4
Acumulado: -5 - elemento 5
Acumulado: -10 - elemento 566
Acumulado: -576 - elemento 6
Acumulado: -582 - elemento 7
Acumulado: -589 - elemento 78
Acumulado: -667 - elemento 89
Resultado reduce -756

In [102]:
def multin(a, b):
    print(f'Acumulado: {a} * elemento {b}')
    return a*b

In [103]:
print('Resultado reduce', reduce(multin,g))

Acumulado: 1 * elemento 2
Acumulado: 2 * elemento 4
Acumulado: 8 * elemento 5
Acumulado: 40 * elemento 566
Acumulado: 22640 * elemento 6
Acumulado: 135840 * elemento 7
Acumulado: 950880 * elemento 78
Acumulado: 74168640 * elemento 89
Resultado reduce 6601008960

In [111]:
g

[1, 2, 4, 5, 566, 6, 7, 78, 89]

In [131]:
h = 1
for i in range(len(g)):
    h = h*g[i]
    print(h)

1
2
8
40
22640
135840
950880
74168640
6601008960

In [132]:
h = ['a','b','c','d','e','f']

In [133]:
def sumin_2(a, b):
    print(f'Acumulado: {a} + elemento {b}')
    return a+b

In [134]:
print('Resultado reduce', reduce(sumin_2,h))

Acumulado: a + elemento b
Acumulado: ab + elemento c
Acumulado: abc + elemento d
Acumulado: abcd + elemento e
Acumulado: abcde + elemento f
Resultado reduce abcdef

In [135]:
j = reduce(sumin_2,h)
j

Acumulado: a + elemento b
Acumulado: ab + elemento c
Acumulado: abc + elemento d
Acumulado: abcd + elemento e
Acumulado: abcde + elemento f

'abcdef'

In [136]:
''.join(h)

'abcdef'

In [141]:
fl = [1.2,4.5,8.6,9.4,10.6,1]

In [142]:
print('Resultado reduce', reduce(sumin,fl))

Acumulado: 1.2 + elemento 4.5
Acumulado: 5.7 + elemento 8.6
Acumulado: 14.3 + elemento 9.4
Acumulado: 23.700000000000003 + elemento 10.6
Acumulado: 34.300000000000004 + elemento 1
Resultado reduce 35.300000000000004

In [145]:
suma_2 #funcion que suma a+b se aplica a g; que es un iterable

In [146]:
#Con lambda
reduce(suma_2,g)

758

# Filter

In [ ]:
#filter(FUNCION, ITERABLE)

In [153]:
def filt_par(n):
    if n%2==0:
        return n

In [154]:
nume = [1,2,34,5,6,48,8]

In [155]:
list(filter(filt_par, nume))

[2, 34, 6, 48, 8]

In [156]:
list(filter(lambda n: n%2==0,nume)) #sencilla

[2, 34, 6, 48, 8]

In [169]:
list(filter(lambda n: n if n%2==0 and n < 8 else False ,nume))

[2, 6]

In [170]:
hoteles=[
    {'name':'Ritz', 'hasPool':True, 'stars':5},
    {'name':'Pension Lola', 'hasPool':True, 'stars':2},
    {'name':'Roma Norte', 'hasPool':False, 'stars':3},
    {'name':'Palace', 'hasPool':True, 'stars':4},
]

In [171]:
menor_3_stars = lambda x: x['stars'] < 3
with_pool = lambda x: x['hasPool']

In [174]:
def multi_f(x):
    return menor_3_stars(x) and with_pool(x)

In [173]:
list(filter(multi_f,hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [175]:
multi_2 = lambda x: x['stars'] < 3 and x['hasPool']

In [176]:
list(filter(multi_2,hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [177]:
multi_3 = lambda x: x['stars'] < 3 or x['hasPool']

In [179]:
print(multi_3)

<function <lambda> at 0x0000028D831BA288>

In [178]:
list(filter(multi_3,hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5}, {'name': 'Pension Lola', 'hasPool': True, 'stars': 2}, {'name': 'Palace', 'hasPool': True, 'stars': 4}]

# Error handling (Try-Except)

In [180]:
x = 2

In [182]:
try:
    print(z)
except:
    print('Oye la variable z no esta definida')

Oye la variable z no esta definida

In [183]:
2/0

ZeroDivisionError: division by zero

In [185]:
try:
    2/0
except:
    print('Que no estudiaste algebra, no existe divison entre zero')

Que no estudiaste algebra, no existe divison entre zero

In [186]:
try:
    x/0
except:
    print(x/2)

1.0

In [187]:
z = 9

In [188]:
try:
    x/0
except:
    try:
        x/o
    except:
        print('la variable no esta definida')

la variable no esta definida

In [190]:
t = 2
try:
    print(o)
except:
    print('la variable no esta definida')
    raise ValueError('Hey define la variable o')

la variable no esta definida

ValueError: Hey define la variable o

In [191]:
import sys

In [192]:
lst=['a', 0, 2, 'e', 2, 3, 4, 5]

In [194]:
for e in lst:
    try:
        print(f'el elemento es {e}')
        d = e/3
        
    except:
        print('el valor no es divisible entre 3', sys.exc_info())

el elemento es a
el valor no es divisible entre 3 (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'str' and 'int'"), <traceback object at 0x0000028D836E5A48>)
el elemento es 0
el elemento es 2
el elemento es e
el valor no es divisible entre 3 (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'str' and 'int'"), <traceback object at 0x0000028D836E5A48>)
el elemento es 2
el elemento es 3
el elemento es 4
el elemento es 5

In [195]:
raise NameError('hola')

NameError: hola

In [196]:
'hola'

'hola'

In [197]:
raise NameError

NameError:

In [198]:
if 2/2 != 0:
    raise ValueError

ValueError:

In [202]:
print() = raise ValueError

SyntaxError: invalid syntax (<ipython-input-202-28d06c0684c0>, line 1)

In [204]:
print()