In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
import math

# Builtins- Python

In [4]:
help(math.acos)

Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

In [5]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [12]:
saludo = int(input('Hola como estas: '))

Hola como estas: 1

In [13]:
saludo

1

In [15]:
n = float(input('Ingrese un numero: '))

Ingrese un numero: 2

In [16]:
n

2.0

In [19]:
n_2 = str(2)
n_2

'2'

In [21]:
len(str('hola '))

5

In [22]:
tuple([2,4,5])

(2, 4, 5)

In [23]:
list((2,4,5))

[2, 4, 5]

In [24]:
max([2,4,5,6,6,8,8,9,11])

11

In [25]:
min([2,4,5,6,6,8,8,9,11])

2

In [26]:
sum([2,4,5,6,6,8,8,9,11])

59

In [27]:
sum(2,2,4,4,5,6,6)

TypeError: sum expected at most 2 arguments, got 7

In [29]:
list(iter([2,3,4,5,5,7]))

[2, 3, 4, 5, 5, 7]

In [39]:
m = [1,2,36,7,7]
n = [1,4,6,7,8]

list(zip(n,m))

[(1, 1), (4, 2), (6, 36), (7, 7), (8, 7)]

In [363]:
zip(n,m)

In [40]:
sorted(m, reverse = True)

[36, 7, 7, 2, 1]

In [42]:
a = dict(one = 1, two = 2, three = 3)

In [43]:
a

{'one': 1, 'two': 2, 'three': 3}

In [44]:
nuevo_d = list(zip(n,m))

In [45]:
dict(nuevo_d)

{1: 1, 4: 2, 6: 36, 7: 7, 8: 7}

In [47]:
int(abs(2.5778))

2

In [48]:
bin(2)

'0b10'

In [49]:
type(1)

int

In [50]:
type('str')

str

In [51]:
type(bin(2))

str

In [52]:
!pip3 install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\gralg\appdata\roaming\python\python37\site-packages (1.18.1)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.1.1; however, version 20.2.1 is available.
You should consider upgrading via the 'c:\program files\python37\python.exe -m pip install --upgrade pip' command.

# Listas

In [54]:
lst  = [12,4,5,66,7,8,9,34,6]
lst

[12, 4, 5, 66, 7, 8, 9, 34, 6]

In [55]:
for i in lst:
    print(i)

12
4
5
66
7
8
9
34
6

In [56]:
for i in lst:
    if i%2==0:
        print(i)

12
4
66
8
34
6

In [58]:
for i in range(len(lst)):
    print(lst[i], i)

12 0
4 1
5 2
66 3
7 4
8 5
9 6
34 7
6 8

In [59]:
lst[1]

4

In [61]:
lst[-2]

34

In [364]:
lst[:]

[1, 1, 1, 1, 1, 3, 5, 4, 5, 6, 5, 8, 9, 8, 7, 8, 1, 5, 4, 3, 6, 6]

In [63]:
lst[:4]

[12, 4, 5, 66]

In [366]:
lst[::1]

[1, 1, 1, 1, 1, 3, 5, 4, 5, 6, 5, 8, 9, 8, 7, 8, 1, 5, 4, 3, 6, 6]

In [65]:
lst[::2]

[12, 5, 7, 9, 6]

In [66]:
lst[::-1]

[6, 34, 9, 8, 7, 66, 5, 4, 12]

In [67]:
m = 'hola como estan'

In [68]:
m[:3]

'hol'

In [69]:
m[:10]

'hola como '

In [70]:
m[::-1]

'natse omoc aloh'

In [71]:
for i in range(2,len(lst),2):
    print(lst[i])

5
7
9
6

In [72]:
lst

[12, 4, 5, 66, 7, 8, 9, 34, 6]

In [75]:
for x, y in enumerate(lst):
    print(x,':',y)

0 : 12
1 : 4
2 : 5
3 : 66
4 : 7
5 : 8
6 : 9
7 : 34
8 : 6

In [77]:
#fibo

a=0
b=1
conta = 0
print(a)
print(b)

while conta <10:
    c=a+b
    print(c)
    
    a = b
    b = c
    
    conta += 1

0
1
1
2
3
5
8
13
21
34
55
89

In [78]:
fibo = [0,1]

for i in range(0,100):
    result = fibo[-1]+fibo[-2]
    fibo.append(result)
    
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [85]:
lst_v = []

for i in range(1,50,3):
    lst_v.append(i)

In [86]:
lst_v

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [87]:
lst_lst = [i for i in range(1,50,3)]
lst_lst

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [92]:
lst_lst = [i for i in range(1,50,3) if i%2 == 0]

In [93]:
lst_lst

[4, 10, 16, 22, 28, 34, 40, 46]

In [103]:
lst_double = []

In [104]:
for i in range(0,10):
    lst_double.append([i+1, i+2, i+3])

In [105]:
lst_double

[[1, 2, 3],
 [2, 3, 4],
 [3, 4, 5],
 [4, 5, 6],
 [5, 6, 7],
 [6, 7, 8],
 [7, 8, 9],
 [8, 9, 10],
 [9, 10, 11],
 [10, 11, 12]]

In [107]:
lst_double[-2][-1]

11

In [108]:
lst_double = []
for i in range(0,9,3):
    lst_double.append([i+1, i+2, i+3])
    
lst_double

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [109]:
for i,e in enumerate(lst_double):
    print(i,':',e)

0 : [1, 2, 3]
1 : [4, 5, 6]
2 : [7, 8, 9]

In [110]:
for i,e in enumerate(lst_double):
    print(i,':',e)
    for k,v in enumerate(e):
        print(k,':',v)

0 : [1, 2, 3]
0 : 1
1 : 2
2 : 3
1 : [4, 5, 6]
0 : 4
1 : 5
2 : 6
2 : [7, 8, 9]
0 : 7
1 : 8
2 : 9

In [111]:
lst_double[0][2]

3

In [112]:
lst_lst = [[i+1, i+2, i+3] for i in range(0,9,3)]
lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [116]:
lst_lst = [[[i+1], i+2, i+3] for i in range(0,9,3)]
lst_lst

[[[1], 2, 3], [[4], 5, 6], [[7], 8, 9]]

In [119]:
len(lst_lst[0][0])

1

In [120]:
lst_if=[e for e in range(1,14) if e%2==0]
lst_if

[2, 4, 6, 8, 10, 12]

In [121]:
lst_if=[e for e in range(1,14) if e%2==0 and e>5]
lst_if

[6, 8, 10, 12]

In [ ]:
#& (and) | (or)  PYTHON SE INTERPRETA COMO BITWISE

In [122]:
1&2

0

In [123]:
lst_lst=[[1,2,3,4,5], [6,7,8], [9,10]]

In [126]:
lst = [v for e in lst_lst if len(e)<4 for v in e if v%2==0]
lst

[6, 8, 10]

In [127]:
lst = []

for e in lst_lst:
    if len(e) < 4:
        for v in e:
            if v%2==0:
                lst.append(v)
                
lst

[6, 8, 10]

In [128]:
lst.append(5)

In [129]:
lst

[6, 8, 10, 5]

In [130]:
lst.count(6)

1

In [145]:
lst.append([6,6])

In [146]:
lst

[6, 8, 10, 5, 5, 6, 6, 7, 8, [6, 6]]

In [150]:
lst.extend([5,6,6,7,8])

In [147]:
ultimo = lst.pop()

In [148]:
ultimo

[6, 6]

In [149]:
help(lst.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [152]:
lst_2 = [i for i in range(10)]

In [154]:
lst+lst_2

[6, 8, 10, 5, 5, 6, 6, 7, 8, 5, 6, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
lst = [True,'hola',2849,False,'hola',False]

In [157]:
lst+lst_2

[True, 'hola', 2849, False, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
lst.index('hola')

1

In [161]:
lst.index(False)

3

In [163]:
for i in lst:
    print(i == False)

False
False
False
True
False
True

In [164]:
lst.insert(2,'nuevo_valor')

In [166]:
lst.pop()

False

In [168]:
lst.pop(2)

'nuevo_valor'

In [169]:
lst

[True, 'hola', 2849, False, 'hola']

In [170]:
lst.remove('hola')

In [171]:
lst

[True, 2849, False, 'hola']

In [172]:
lst[2]

False

In [173]:
lst

[True, 2849, False, 'hola']

In [174]:
lst.reverse()

In [175]:
lst

['hola', False, 2849, True]

In [176]:
lst.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [186]:
lst_int= [i for i in range(10)]

In [188]:
lst_int.sort(reverse = True)

In [185]:
lst_int.clear()

TypeError: clear() takes no arguments (1 given)

In [189]:
lst_int

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [191]:
lst_str = ['hola','que','tal','aba']

In [192]:
lst_str.sort()

In [194]:
lst_str.insert(1,'palabra')

In [195]:
lst_str

['aba', 'palabra', 'hola', 'que', 'tal']

# TUPLAS son inmutables

In [226]:
letras = ('a','b','c')

In [197]:
letras[0]

'a'

In [198]:
type(letras)

tuple

In [199]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [200]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [225]:
lst_t = list(letras)

In [209]:
lst_t.append('d')

In [210]:
lst_t

['a', 'b', 'c', 'd']

In [212]:
letras[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [213]:
letras.index('a')

0

In [220]:
a = (i for i in range(10))
a

In [221]:
b = list(a)
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [222]:
tuple(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [223]:
letras.count('a')

1

In [227]:
letras = list(letras)

In [228]:
letras

['a', 'b', 'c']

# Diccionarios

In [229]:
dic = {'a':2, 'hola':74, 'falso':False}

In [230]:
dic['a']

2

In [231]:
dic['falso']

False

In [232]:
dic_n = {'a':2, True:74, 67:False}

In [233]:
dic_n[67]

False

In [235]:
dic_n[True]

74

In [236]:
dic_lst = {'a':2, 'lista':['nueva','lista',1763], 67:False}

In [370]:
dic_lst['lista'][0]

'nueva'

In [249]:
lst = [
    {'nombre':'Paco', 'edad':28,'trabaja':True},
    {'nombre':'Paco_2', 'edad':20,'trabaja':False},
    {'nombre':'Paco_3', 'trabaja':True,'edad':28},
]

In [250]:
lst[0]['edad']

28

In [251]:
for i in lst:
    if i['trabaja'] == True:
        print(i['nombre'])

Paco
Paco_3

In [254]:
alumno={
    'nombre':'Pepe',
    'apellidos':'Perez Roca',
    'edad':25,
    'altura':180
}

In [256]:
print(alumno)

{'nombre': 'Pepe', 'apellidos': 'Perez Roca', 'edad': 25, 'altura': 180}

In [257]:
print(alumno['nombre'],alumno['edad'])

Pepe 25

In [261]:
keys = alumno.keys()

In [259]:
alumno.values()

dict_values(['Pepe', 'Perez Roca', 25, 180])

In [260]:
alumno.items()

dict_items([('nombre', 'Pepe'), ('apellidos', 'Perez Roca'), ('edad', 25), ('altura', 180)])

In [264]:
keys_lst = list(keys)

In [265]:
for i in keys_lst:
    print(alumno[i])

Pepe
Perez Roca
25
180

In [268]:
for e in alumno.items():
    print('key:',e[0],'value:',e[1])

key: nombre value: Pepe
key: apellidos value: Perez Roca
key: edad value: 25
key: altura value: 180

In [371]:
lst = [('hola',['adios','j']),('numero',20)]

In [372]:
dict(lst)

{'hola': ['adios', 'j'], 'numero': 20}

In [274]:
lst_2 = [('hola',['adios',93]),('numero',20)]

In [275]:
dict(lst_2)

{'hola': ['adios', 93], 'numero': 20}

In [278]:
dict_comp = {k:k+1 for k in range(4)}

In [279]:
dict_comp

{0: 1, 1: 2, 2: 3, 3: 4}

In [282]:
list_c = [i for i in range(4)]

In [285]:
dict_en = {k:v for k,v in enumerate(list_c)}

In [286]:
dict_en

{0: 0, 1: 1, 2: 2, 3: 3}

In [323]:
dic_n = {'a': 1, 'b': 2, 'c': 3}

In [291]:
dic_n.clear()

In [299]:
dic_n.update({'c':45})

In [305]:
dic_n.popitem()

('c', 3)

In [322]:
dic_n

{'a': 4, 'b': 2}

In [310]:
dic_n.get('c','El elemento no existe')

'El elemento no existe'

In [324]:
dic_c = dic_n.copy()

In [325]:
dic_c.update({'a':4})

In [326]:
dic_c

{'a': 4, 'b': 2, 'c': 3}

In [327]:
dic_n

{'a': 1, 'b': 2, 'c': 3}

# sets (conjuntos)

In [375]:
set_1 = {2,4,56,6,6}
set_1

{2, 4, 6, 56}

In [373]:
lst = [1,1,1,1,1,3,5,4,5,6,5,8,9,8,7,8,1,5,4,3,6,6]

In [374]:
s = set(lst)
s

{1, 3, 4, 5, 6, 7, 8, 9}

In [333]:
s_n = set()

In [334]:
type(s_n)

set

In [337]:
s_n.add('a')

In [339]:
s_n.remove('a')

In [340]:
s_n

set()

In [341]:
set1=set([1,2,3,3,3,4,4,5,6,7,78,8,9,9])
set2=set([9,9,8,8,7,6,56,5,45])

In [344]:
union = set1.union(set2)

In [345]:
union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56, 78}

In [346]:
set1.intersection(set2)

{5, 6, 7, 8, 9}

In [347]:
set1-set2

{1, 2, 3, 4, 78}

In [350]:
set1.issubset(set2)

False

In [351]:
set2.issubset(set1)

False

In [352]:
set1.issuperset(set2)

False

In [353]:
set3=set([1])
set3

{1}

In [354]:
set1.issuperset(set3)

True

In [355]:
set3.issubset(set1)

True

In [356]:
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56, 78}

In [357]:
set1&set2

{5, 6, 7, 8, 9}

In [358]:
help(set.mro)

Help on built-in function mro:

mro() method of builtins.type instance
    Return a type's method resolution order.

In [378]:
set([1,2,4,4,5])

TypeError: set expected at most 1 arguments, got 2

In [361]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None