# Viz- continue

In [5]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [ ]:
cloud=np.random.random((2, 100))
#print (cloud)
plt.scatter(*cloud)
plt.savefig('nube.jpg')
plt.show();

In [ ]:
from mpl_toolkits.mplot3d import Axes3D

In [ ]:
ang=np.linspace(-5*np.pi, 5*np.pi, 200)

In [ ]:
z=np.linspace(-4, 4, 200)

x=3*np.cos(ang)
y=3*np.sin(ang)

fig=plt.figure()
ax=fig.gca(projection='3d')
ax.plot(x, y, z)
plt.show();

In [ ]:
z=np.linspace(-4, 4, 200)

r=2*z+1

x=r*np.cos(ang)
y=r*np.sin(ang)

fig=plt.figure()
ax=fig.gca(projection='3d')
ax.plot(x, y, z)
plt.show();

In [6]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.set(style="white")
rs = np.random.RandomState(33)

In [ ]:
d = pd.DataFrame(data=rs.normal(size=(100, 26)),
                 columns=list(ascii_letters[26:]))

In [ ]:
corr = d.corr()

In [ ]:
corr

In [ ]:
mask = np.triu(np.ones_like(corr, dtype=np.bool)) #triu, matriz traiangular superior, unos en la diagonal y ceros por arriba de la diagonal
                                    #tril, matriz traiangular inferior, unos en la diagonal y ceros por arriba de la diagonal

In [ ]:
cmap = sns.diverging_palette(220, 10, as_cmap=True)
cmap

In [ ]:
import seaborn as sns

In [ ]:
f, ax = plt.subplots(figsize=(11, 9))
cmap = sns.diverging_palette(220, 10, as_cmap=True)
# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});

In [ ]:
df=pd.read_csv('data/vehicles.csv')
df.head()

In [ ]:
df.dtypes

In [ ]:
df['Fuel Type'] = df['Fuel Type'].astype(str)

In [ ]:
df['Fuel Type'].value_counts().plot(kind= 'pie')

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'pie')

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'bar')

In [ ]:
df['Fuel Type'].value_counts()[:5].plot(kind = 'barh')

In [ ]:
df[['Fuel Type', 'Make']].value_counts().plot(kind = 'pie', subplots = True)

In [ ]:
df2=df.groupby('Year').agg({'City MPG': 'sum'})

In [ ]:
df2=df2.reset_index()
df2.head()

In [ ]:
sns.lmplot(x='Year', y='City MPG', data=df2)

In [ ]:
sns.lmplot(x='Year', y='City MPG', data=df2[df2.Year>=2000]);

In [ ]:
pd.plotting.scatter_matrix(df, figsize=(15, 15));

In [ ]:
pd.plotting.scatter_matrix(df[['CO2 Emission Grams/Mile', 'Fuel Barrels/Year']], figsize=(7, 7), alpha = 0.10);

In [ ]:
vehicles_mean=df[['Highway MPG', 'City MPG', 'Drivetrain']].groupby('Drivetrain').agg('mean')
vehicles_mean

In [ ]:
consumo_max=vehicles_mean.apply(lambda x: max(x['Highway MPG'], x['City MPG']), axis=1)
vehicles_mean['consumo_max']= consumo_max
vehicles_mean

In [ ]:
ax=vehicles_mean.plot.bar()
ax.plot(vehicles_mean['consumo_max'], 'go-');
ax.plot(0,30, marker = '$Hola$', color = 'blue', ms = 20)
ax.plot(7,30, marker = 'h', color = 'y', ms = 20)
ax.plot(7,25, marker = 's', color = 'y', ms = 20)

In [ ]:
df.head()

In [ ]:
df['Highway MPG'].hist(bins = 100)

In [ ]:
df['Year'].value_counts().plot(kind = 'bar');

In [ ]:
sns.heatmap(df.corr())

In [1]:
from functools import reduce

In [2]:
import os

In [3]:
import os
lst_cryp = ['data/crypto/'+file for file in os.listdir("data/crypto/") if file.endswith(".csv")]

In [7]:
cryp_df = [pd.read_csv(e) for e in lst_cryp]

In [8]:
cryp_df = [e[['Date','High']] for e in cryp_df]

In [9]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), cryp_df)

In [10]:
df_final

,Date,High_x,High_y,High_x,High_y,High_x,High_y,High_x,High_y,High_x,High_y,High_x,High_y,High_x,High_y
0,"May 07, 2018","1,781.47","9,665.85",486.01,18.400000,25.45,795.76,2.310000,171.92,8.790000,83.59,0.871236,0.414859,0.084966,0.075969
1,"May 06, 2018","1,838.49","9,940.14",521.14,17.900000,25.80,835.06,2.510000,182.88,9.080000,87.94,0.918675,0.432132,0.087098,0.079406
2,"May 05, 2018","1,753.11","9,964.50",508.47,18.570000,23.19,827.46,2.470000,181.63,9.390000,86.07,0.922354,0.435669,0.090875,0.082089
3,"May 04, 2018","1,538.46","9,779.20",502.68,18.060000,22.72,803.75,2.590000,170.38,10.440000,87.70,0.927695,0.439682,0.088867,0.081581
4,"May 03, 2018","1,536.80","9,798.33",511.29,19.270000,23.43,784.34,2.680000,164.00,9.930000,89.68,0.892916,0.442878,0.091438,0.084588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,"Sep 17, 2017",438.90,"3,664.81",315.58,0.667683,10.21,257.00,0.505875,49.88,0.085101,20.64,0.181121,0.011710,0.003879,0.006152
233,"Sep 16, 2017",450.98,"3,808.84",301.23,0.685285,11.19,262.59,0.510361,52.83,0.088337,22.98,0.187417,0.012474,0.017671,0.006628
234,"Sep 15, 2017",448.39,"3,733.45",300.11,0.683713,11.20,258.66,0.509332,50.65,0.086548,19.12,0.189184,0.012571,0.001831,0.005604
235,"Sep 14, 2017",510.47,"3,920.60",303.74,0.754454,14.24,280.84,0.573630,62.43,0.092525,20.75,0.202010,0.015550,0.002479,0.006520
236,"Sep 13, 2017",519.20,"4,131.98",325.16,0.841224,14.45,291.12,0.595366,64.60,0.097609,21.29,0.209674,0.016301,0.002448,0.007028

In [11]:
import bar_chart_race as bcr

In [13]:
bcr.bar_chart_race(df_final)

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            Requested MovieWriter (ffmpeg) not available

In [ ]:
import chart_studio.plotly as py
import cufflinks as cf
from ipywidgets import interact
cf.go_offline()

In [ ]:
df=pd.read_excel('data/Online Retail.xlsx')
df.head()

In [ ]:
df['Country'].unique()

In [ ]:
df.isna().sum()

In [ ]:
df.dtypes

In [ ]:
import datetime

In [ ]:
datetime.datetime.strptime('2018-12-30 16:25', '%Y-%m-%d %H:%M') - datetime.datetime.strptime('2018-12-1 16:25', '%Y-%m-%d %H:%M')

In [ ]:
datetime.datetime.strptime('2018-12-30 16:25', '%Y-%m-%d %H:%M')

In [ ]:
data=df[df.Country!='United Kingdom']
data= data.loc[(data['InvoiceDate'] >= '2011-4-1') & (data['InvoiceDate'] <= '2011-4-30') ]

In [ ]:
data

In [ ]:
data=data.groupby('Country').sum()
data=data[['Quantity', 'Revenue']]

In [ ]:
data

In [ ]:
fig = data.iplot(kind='bar', xTitle='Country', title='Cantidad Total y beneficio')

In [ ]:
import plotly.graph_objects as go

In [ ]:
data=df.loc[df.Description=='PARTY BUNTING']

In [ ]:
data=data.groupby('Country').mean()
data=data[['Quantity', 'UnitPrice']]

In [ ]:
data.reset_index(inplace = True)

In [ ]:
data

In [ ]:
data.iplot(x= 'Quantity', y = 'UnitPrice', categories = 'Country',
          xTitle = 'Avg qty', yTitle = 'Avg unit price',
          color = 'blue', title = 'AVG Country')

In [ ]:
import plotly.express as px
fig = px.scatter(data, x= 'Quantity', y = 'UnitPrice', color = 'Country')
fig

In [ ]:
prod_lst=['JUMBO BAG RED RETROSPOT', 'CREAM HANGING HEART T-LIGHT HOLDER',
          'REGENCY CAKESTAND 3 TIER']
country_lst=['EIRE', 'Germany', 'France']

In [ ]:
data=df.loc[df.Description.isin(prod_lst)]
data=data.loc[data.Country.isin(country_lst)]

In [ ]:
data_v = data.pivot_table(values = 'Revenue', columns = 'Description',
                         index = 'Country', aggfunc = sum)
data_v

In [ ]:
data.groupby(['Country','Description'])['Revenue'].agg(sum)

In [ ]:
data_v.reset_index(inplace=True)
data_v.iplot(kind='bar', x='Country', title='Revenue by Country',
          xTitle='Country', yTitle='Revenue')

In [ ]:

import plotly.graph_objects as go

labels=['Label', 'F1', 'F2', 'F1.1', 'F1.1.1']

parents=['', 'Label', 'Label', 'F1', 'F1.1']

values=[1,2,3,30,10]

fig=go.Figure(go.Sunburst(labels=labels, parents=parents, values=values))
fig.update_layout(margin=dict(t=0, l=0, r=0, b=0), width=300, height=300)
fig.write_html('sun.html')
fig.show()

# Mongo

In [ ]:
import pymongo

In [ ]:
cliente = pymongo.MongoClient()

In [ ]:
db = cliente.Oficinas

In [ ]:
db.collection_names()

In [ ]:
cliente.server_info

In [ ]:
colec = db.create_collection('nueva_colec')

In [ ]:
colec

In [ ]:
dic = {'nombre':'Oscar','edad':'27','estudiante':'No'}

In [ ]:
colec.insert_many([
    {'computadora':'hp','television':'sony'},
    {'hola':'dia','quiero':'cerveza'}
])

In [ ]:
colec.insert_one({'id':0, 'nombre':'Maria', 'edad':45})

In [ ]:
list(colec.find().limit(2))

In [ ]:
list(colec.find({'computadora':'hp'}))

In [ ]:
db.create_collection('nombres')

In [ ]:
nom = [{'nombre': ' Juan', 'edad': 25},
{'nombre': 'Ana', 'edad': 45},
{'nombre': 'Pepe', 'edad': 15},
{'nombre': 'FRansisco', 'edad': 30},
{'nombre': 'Oscar', 'edad': 23},
{'nombre': 'Valeria', 'edad': 67}]

In [ ]:
nom_colec = db.nombres

In [ ]:
nom_colec.insert_many(nom)

In [ ]:
list(nom_colec.find({'edad':{'$gt':25}}))

In [ ]:
list(nom_colec.find().sort('edad', -1))

In [ ]:
nom_colec.update_one({'nombre':'Ana'},{'$set':{'nombre':'Alejandra'}})

In [ ]:
list(nom_colec.find())

In [ ]:
ofi_colec = db.Oficinas_colec

In [ ]:
list(ofi_colec.find().limit(5))