# Feature Extraction and Engineering

In [2]:
import zipfile

In [4]:
zf = zipfile.ZipFile('data/mahindra.zip')

In [6]:
ctr = pd.read_csv(zf.open('test.csv'))

In [8]:
ctr.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id
0,7dae1ce6bc8f69481328f2be5c4943077dad5598b5f66d...,05/04/18,05/04/18,06/04/18,3,2,2,0,45,3,...,2.0,2.0,3,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,A,C,9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739...
1,fe0d4e444e1818436c88f72f1cf800536c2f785e59baeb...,24/05/15,23/06/15,27/06/15,1,2,4,0,45,1,...,2.0,2.0,4,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...
2,540bd4285ad8168e8388f84ee74a82cd4f97dc0a404d3e...,21/07/15,07/08/15,10/08/15,3,2,3,0,45,2,...,4.0,2.0,2,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...
3,09593c907ae262e46f655b4db9e14f54a19eadcfdd2679...,31/07/15,22/10/15,25/10/15,1,2,3,0,45,1,...,2.0,2.0,6,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...
4,f4c50caac68051faf37551d70bb17eebef2a20e2244cb1...,01/07/16,01/10/16,05/10/16,1,2,4,0,45,1,...,2.0,2.0,11,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...

In [9]:
ctr.shape

(146765, 23)

In [10]:
ctr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146765 entries, 0 to 146764
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   reservation_id            146765 non-null  object
 1   booking_date              146765 non-null  object
 2   checkin_date              146765 non-null  object
 3   checkout_date             146765 non-null  object
 4   channel_code              146765 non-null  int64
 5   main_product_code         146765 non-null  int64
 6   numberofadults            146765 non-null  int64
 7   numberofchildren          146765 non-null  int64
 8   persontravellingid        146765 non-null  int64
 9   resort_region_code        146765 non-null  int64
 10  resort_type_code          146765 non-null  int64
 11  room_type_booked_code     146765 non-null  int64
 12  roomnights                146765 non-null  int64
 13  season_holidayed_code     146730 non-null  float64
 14  state_code_residence      144505 non-null  float64
 15  state_code_resort         146765 non-null  int64
 16  total_pax                 146765 non-null  int64
 17  member_age_buckets        146765 non-null  object
 18  booking_type_code         146765 non-null  int64
 19  memberid                  146765 non-null  object
 20  cluster_code              146765 non-null  object
 21  reservationstatusid_code  146765 non-null  object
 22  resort_id                 146765 non-null  object
dtypes: float64(2), int64(12), object(9)
memory usage: 25.8+ MB

In [11]:
for e in ctr.select_dtypes('object').columns:
    ctr[e] = ctr[e].astype('category')

ctr.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146765 entries, 0 to 146764
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   reservation_id            146765 non-null  category
 1   booking_date              146765 non-null  category
 2   checkin_date              146765 non-null  category
 3   checkout_date             146765 non-null  category
 4   channel_code              146765 non-null  int64
 5   main_product_code         146765 non-null  int64
 6   numberofadults            146765 non-null  int64
 7   numberofchildren          146765 non-null  int64
 8   persontravellingid        146765 non-null  int64
 9   resort_region_code        146765 non-null  int64
 10  resort_type_code          146765 non-null  int64
 11  room_type_booked_code     146765 non-null  int64
 12  roomnights                146765 non-null  int64
 13  season_holidayed_code     146730 non-null  float64
 14  state_code_residence      144505 non-null  float64
 15  state_code_resort         146765 non-null  int64
 16  total_pax                 146765 non-null  int64
 17  member_age_buckets        146765 non-null  category
 18  booking_type_code         146765 non-null  int64
 19  memberid                  146765 non-null  category
 20  cluster_code              146765 non-null  category
 21  reservationstatusid_code  146765 non-null  category
 22  resort_id                 146765 non-null  category
dtypes: category(9), float64(2), int64(12)
memory usage: 46.9 MB

In [12]:
for e in ctr.select_dtypes('integer').columns:
    ctr[e] = pd.to_numeric(ctr[e], downcast = 'integer')
ctr.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146765 entries, 0 to 146764
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   reservation_id            146765 non-null  category
 1   booking_date              146765 non-null  category
 2   checkin_date              146765 non-null  category
 3   checkout_date             146765 non-null  category
 4   channel_code              146765 non-null  int8
 5   main_product_code         146765 non-null  int8
 6   numberofadults            146765 non-null  int8
 7   numberofchildren          146765 non-null  int8
 8   persontravellingid        146765 non-null  int16
 9   resort_region_code        146765 non-null  int8
 10  resort_type_code          146765 non-null  int8
 11  room_type_booked_code     146765 non-null  int8
 12  roomnights                146765 non-null  int8
 13  season_holidayed_code     146730 non-null  float64
 14  state_code_residence      144505 non-null  float64
 15  state_code_resort         146765 non-null  int8
 16  total_pax                 146765 non-null  int8
 17  member_age_buckets        146765 non-null  category
 18  booking_type_code         146765 non-null  int8
 19  memberid                  146765 non-null  category
 20  cluster_code              146765 non-null  category
 21  reservationstatusid_code  146765 non-null  category
 22  resort_id                 146765 non-null  category
dtypes: category(9), float64(2), int16(1), int8(11)
memory usage: 35.2 MB

In [14]:
for e in ctr.select_dtypes('float').columns:
    ctr[e] =  pd.to_numeric(ctr[e], downcast = 'float')
    
ctr.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146765 entries, 0 to 146764
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   reservation_id            146765 non-null  category
 1   booking_date              146765 non-null  category
 2   checkin_date              146765 non-null  category
 3   checkout_date             146765 non-null  category
 4   channel_code              146765 non-null  int8
 5   main_product_code         146765 non-null  int8
 6   numberofadults            146765 non-null  int8
 7   numberofchildren          146765 non-null  int8
 8   persontravellingid        146765 non-null  int16
 9   resort_region_code        146765 non-null  int8
 10  resort_type_code          146765 non-null  int8
 11  room_type_booked_code     146765 non-null  int8
 12  roomnights                146765 non-null  int8
 13  season_holidayed_code     146730 non-null  float32
 14  state_code_residence      144505 non-null  float32
 15  state_code_resort         146765 non-null  int8
 16  total_pax                 146765 non-null  int8
 17  member_age_buckets        146765 non-null  category
 18  booking_type_code         146765 non-null  int8
 19  memberid                  146765 non-null  category
 20  cluster_code              146765 non-null  category
 21  reservationstatusid_code  146765 non-null  category
 22  resort_id                 146765 non-null  category
dtypes: category(9), float32(2), int16(1), int8(11)
memory usage: 34.1 MB

# Regresion-se busca un numero

### RegresiÃ³n lineal

Se han de tener algunas suposiciones previas:

+ Exogeneidad dÃ©bil (predictores libres de error)
+ Linealidad
+ Homocedasticidad (Var=cte) y Esperanza nula (**E**=0), la esperanza es la media
+ Independencia de los errores
+ Falta de colinealidad (independencia lineal)

$$y=\beta_0+\beta_1x_1+\beta_2x_2+\beta_3x_3+\ldots+\beta_nx_n+\epsilon$$

El objetivo de la regresion lineal es obtener los $\beta$:
+ Algebraicamente:

$$\vec{\beta} = (X^{T}X)^{-1}X^{T}y$$

+ Minimos cuadrados

$$MSE = \frac{1}{n} \sum_{i=1}^{n} (y-\hat{y})^{2}$$

Ejemplo)

$y = \beta_0 + \beta_1x_1 + \epsilon$

Entonces, derivando MSE e igualando a 0:

$\beta_0 = \frac{\sum y - \beta_1\sum x}{n} = \bar{y} - \beta_1\bar{x}$

$\beta_1=\frac{\sum (x-\hat{x})(y-\hat{y})}{\sum (x-\hat{x})}$

In [5]:
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline        

import numpy as np
import pandas as pd 

from sklearn.datasets import make_circles, load_boston
from sklearn.model_selection import train_test_split as tts

from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet

##### RegularizaciÃ³n

**FunciÃ³n de Coste o de PÃ©rdida (J)** = FunciÃ³n a minimizar

En el caso de la regresiÃ³n lineal: 
$$J=MSE$$


La regularizaciÃ³n es una medida/penalizaciÃ³n de la complejidad del modelo. Se aÃ±ade un tÃ©rmino a J que depende del tipo de regularizaciÃ³n:

$$J = MSE + \alpha Â· T$$


+ Lasso (L1, norma 1):

$$T=\frac{1}{n}\sum_{i}  |\beta_i|$$

Muy Ãºtil si se sospecha que hay caracterÃ­sticas irrelevantes. Se favorece $\beta \approx 0$

+ Ridge (L2):

$$T=\frac{1}{2n}\sum_{i}  \beta_{i}^{2}$$

Muy Ãºtil si se sospecha que existe correlaciÃ³n entre las caracterÃ­sticas, minimiza esa correlaciÃ³n. Funciona mejor si todas son relevantes.

+ ElasticNet (L1+L2):

$$T=rÂ·L1 + (1-r)Â·L2$$

Se usa cuando hay muchas caracterÃ­sticas.

In [ ]:
### MÃ¡quinas de Soporte Vectorial

![](data\2circles.jpg)

![](data/2circles_ac.png)

![](data/2circ_var.jpg)

![](data/2circ_pol.jpg)

![](data/kernel_trick.jpg)

###### SVM

![](data/svm.png)

Genera un hiperplano (n-1)dimensional para separar los datos. Este primer plano es el llamado clasificador lineal (maximizando la distancia a los puntos).

$$\vec{\omega}\vec{x}-b=0$$

donde :

$\omega$ es el vector normal al plano
$x$ son los datos
$b$ es el sesgo

### Random Forest

![](data/RF.jpg)

Arboles de decisiÃ³n.

+ Pros:

Modelos sencillos, se pueden visualizar. No necesitan preprocesar mucho los datos. Computacionalmente eficientes.

+ Contras:

Muy sensibles a pequeÃ±as variaciones de los datos de entrada. Muy sensible a datos no balanceados. Muy dado al overfitting (poco sesgo, mucha varianza), mÃ¡s cuanto mÃ¡s profundo sea.